@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
header{
    padding: 18px 0;
}
.container{
    max-width:940px;
    margin:auto;
}
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
   flex-wrap: wrap;
}
#navbar{
    list-style: none;
    display: flex
}
header nav li{
    margin-left: 34px;
}
header nav li a{
    font: 12px/20px 'Montserrat';
    text-transform: uppercase;
    color: #404040;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}
header nav li a:hover{
   transform: rotate(360deg);
}
footer{
    background-color: #000000;
    padding: 69px 0 75px;
    text-align: center;
}
.container_form{
    max-width: 564px;
    margin: auto;
}
.item_form{
    box-sizing: border-box;
    border: none;
    width: 100%;
    font: 17px/22px 'Vollkorn', serif;
    color: #FFFFFF
}
.item_form:focus{
    outline: none;
}

.field{
    padding: 18px 0 17px 31px;
    background-color: #FFFFFF2E;
}
.field_email{
    padding: 18px 0 17px 30px;
    background-color: #FFFFFF33;
}
.field_message{
    resize: none;
    padding: 17px 0 88px 31px;
    background-color: #FFFFFF33;
}
.send_btn{
    font: 17px/22px 'Vollkorn', serif;
    font-style: italic;
    color: #8BCAC3;
    border:1px solid #7EC4BD;
    padding: 15.05px 60px;
    margin: 21px 0 0;
    background-color: #000000;
    display: inline-block;
    transition: 1s;
}
.send_btn:hover{
background-color: #FFFFFF2E;
}
.logo{
    margin: 37px 0 14px;
}
.paragraph{
    font: 15px/22px  'Vollkorn', serif;
    color: rgba(255, 255, 255, 0.4);
}
::-webkit-input-placeholder {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;}
::-moz-placeholder          {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;}/* Firefox 19+ */
:-moz-placeholder           {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;}/* Firefox 18- */
:-ms-input-placeholder {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
.main_banner {
    min-height: 391px;
background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    display: flex;
}
.main_banner h1 {
    font: 44px/55px 'Montserrat';
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main_banner p {
    font: 15px/20px 'Vollkorn', serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
}
.main_banner h1:after{
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 25px;
}
.main_banner_description{
    background-color: #FEFEC9;
    padding: 60px 0 59px;
    text-align: center;
}
.main_banner_description p {
    font: 18px/25px 'Vollkorn', serif;
    color: #47474F;
    margin-bottom: 39px;
}

.main_banner_description a{
    font: 16px/20px 'Vollkorn', serif;
    color: #47474F;
    display: inline-block;
    padding: 13px 34px 20px;
    border: solid 1px #47474F;
    border-bottom: solid 2px #47474F;
    text-decoration: none;
}
.brands{
    text-align: center;
}
.brands article {
    max-width: 300px;
}
.brands img {
    display: block;
    width: 100%;
}
.brands h2{
    font:  23px/36px 'Montserrat';
    text-transform: uppercase;
    color: #333333;
    margin-top: 79px;
}
.brands h2:after{
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.09);
    margin: auto;
    margin-top: 28px;
    margin-bottom: 43px;
}
.bgr_img{
    background-color: #F5F5F5;
    padding: 50px 86px;
}
.brands h4 {
    font: 16px/20px 'Montserrat';
    text-transform: uppercase;
    color: #333333;
    margin: 38px 0 20px 0;
}
.brands p{
    font: 15px/22px 'Vollkorn', serif;
    color: #333333;
    margin-bottom: 74px;
}
.projects {
    background-color: #F5F5F5;
    text-align: center;
    padding: 79px 0 74px;
}
.projects article {
    background-color: #FFFFFF;
    max-width: 300px;
    margin-bottom: 20px;
}
.projects img {
    display: block;
    width: 100%;
}
.projects h2 {
    font: 23px/36px 'Montserrat';
    text-transform: uppercase;
    color: #333333;
    margin-top: 79px;
}
.projects h2:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.09);
    margin: auto;
    margin-top: 28px;
    margin-bottom: 43px;
}
.projects h4{
    font: 16px/20px 'Montserrat';
    text-transform: uppercase;
    color: #333333;
    margin-top: 19px;
    margin-bottom: 4px;
}
.projects h5{
    font: 14px/20px 'Vollkorn', serif;
    color: #333333;
    margin-bottom: 21px;
}