$main_title_font: 'Montserrat';
$main_paragraph_font: 'Vollkorn', serif;
$main_font_color: #333333;
$viewport_size: (
        s: 320px,
        m: 768px,
        l: 1200px
);
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width:940px;
  margin:auto;
}
.d_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#navbar {
  list-style: none;
  display: flex;
}
header {
  padding: 18px 0;
  @include max-screen(834px){
    img {
      margin-left: 30px;
    }
  }
  nav {
    li {
      margin-left: 34px;
      @include max-screen(834px){
        margin-left: unset;
      }
      a {
        font: 12px/20px $main_title_font;
        text-transform: uppercase;
        color: #404040;
        text-decoration: none;
        display: inline-block;
        transition: 0.5s;
        @include max-screen(834px){
          font: 24px/28px $main_title_font;
        }
        @include max-screen(428px){
          font: 16px/24px $main_title_font;
        }
        @include max-screen(360px){
          font: 14px/22px $main_title_font;
        }
        &:hover {
          transform: rotate(360deg);
        }
      }
    }
  }
}
.main_banner {
  min-height: 391px;
  background-image: url("../images/IMAGE.jpg");
  background-size: cover;
  display: flex;
  p {
    font: 15px/20px $main_paragraph_font;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
  }
}
h1 {
  font: 44px/55px $main_title_font;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  @include max-screen(428px){
    font: 34px/45px $main_title_font;
  }
  &:after{
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 25px;
  }
}
.main_banner_description{
  background-color: #FEFEC9;
  padding: 60px 0 59px;
  text-align: center;
  p {
    font: 18px/25px $main_paragraph_font;
    color: #47474F;
    margin-bottom: 39px;
    @include max-screen(360px){
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  a{
    font: 16px/20px $main_paragraph_font;
    color: #47474F;
    display: inline-block;
    padding: 13px 34px 20px;
    border: solid 1px #47474F;
    border-bottom: solid 2px #47474F;
    text-decoration: none;
  }
}
.brands{
  text-align: center;
  @include max-screen(834px){
    .d_flex {
    justify-content: space-around;
    }
  }
  article {
    max-width: 300px;
  }
  img {
    display: block;
    width: 100%;
  }
  h2{
    font:  23px/36px $main_title_font;
    text-transform: uppercase;
    color: $main_font_color;
    margin-top: 79px;
    &:after{
      content: "";
      display: block;
      width: 80px;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.09);
      margin: auto;
      margin-top: 28px;
      margin-bottom: 43px;
    }
  }
  h4 {
    font: 16px/20px $main_title_font;
    text-transform: uppercase;
    color: $main_font_color;
    margin: 38px 0 20px 0;
  }
  p{
    font: 15px/22px $main_paragraph_font;
    color: $main_font_color;
    margin-bottom: 74px;
  }
}
.bgr_img{
  background-color: #F5F5F5;
  padding: 50px 86px;
}
.projects {
  background-color: #F5F5F5;
  text-align: center;
  padding: 79px 0 74px;
  @include max-screen(834px){
    .d_flex {
      justify-content: space-around;
    }
    @include max-screen(428px){
      padding: 59px 0 54px;
    }
  }
  article {
    background-color: #FFFFFF;
    max-width: 300px;
    margin-bottom: 20px;
    @include max-screen(834px){
      margin-bottom: 35px;
    }
  }
  img {
    display: block;
    width: 100%;
  }
  h2 {
    font: 23px/36px $main_title_font;
    text-transform: uppercase;
    color: $main_font_color;
    margin-top: 79px;
    @include max-screen(428px){
      margin-top: unset;
    }
    &:after {
      content: "";
      display: block;
      width: 80px;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.09);
      margin: auto;
      margin-top: 28px;
      margin-bottom: 43px;
    }
  }
  h4{
    font: 16px/20px $main_title_font;
    text-transform: uppercase;
    color: $main_font_color;
    margin-top: 19px;
    margin-bottom: 4px;
  }
  h5{
    font: 14px/20px $main_paragraph_font;
    color: $main_font_color;
    margin-bottom: 21px;
  }
}

.team {
  padding: 79px 0 100px;
  text-align: center;
  @include max-screen(834px){
    padding: 80px 0 30px;
    .d_flex {
      justify-content: space-around;
    }
  ;
  }
  h2 {
    font-family: $main_title_font;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: $main_font_color;
    &:after{
      content: "";
      display: block;
      width: 80px;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.09);
      margin: auto;
      margin-top: 28px;
      margin-bottom: 43px;
    }
  }
  h4 {
    font-family: $main_title_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $main_font_color;
    margin-bottom: 6px;
    margin-top: 20px;
  }
  p {
    font-family: $main_paragraph_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $main_font_color;
    margin-bottom: 29px;
  }
  .people {
    article {
      max-width: 220px;
      @include max-screen(834px){
        margin-bottom: 60px;
      }
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .social_media {
    display: flex;
    justify-content: center;
    li {
      margin-right: 6px;
    }
  }
}
.in_touch {
  background-image: url("../images/blue_bg.jpg");
  background-size: cover;
  min-height: 517px;
  padding: 79px 0 75px;
  text-align: center;
  @include max-screen(428px) {
    padding: 65px 0 35px;
  }
  .contacts {
    article {
      max-width: 205px;
      @include max-screen(428px){
        margin-bottom: 50px;
      }
      .socials {
        margin-top: 20px;
        margin-left: 45px;
        text-align: left;
        li {
          margin-bottom: 11px;
          a {
            font-family: $main_paragraph_font;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            text-align: center;
            color: #212121;
            text-decoration: none;
          }
          &:first-of-type {
            &:before {
              content: "";
              display: inline-block;
              background-image: url("../images/fb.svg");
              width: 14px;
              height: 14px;
              margin-right: 9px;
            }
          }
          &:nth-child(2) {
            &:before {
              content: "";
              display: inline-block;
              background-image: url("../images/tw.svg");
              width: 14px;
              height: 14px;
              margin-right: 9px;
            }
          }
          &:last-of-type {
            &:before {
              content: "";
              display: inline-block;
              background-image: url("../images/linkdin.svg");
              width: 14px;
              height: 14px;
              margin-right: 9px;
            }
          }
        }
      }
      .mail {
        text-decoration: none;
        color: #212121;
      }
    }
    .bgr_img {
      background-color: unset;
      padding: 30px 60px 0;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .d_flex {
    align-items: flex-start;
    justify-content: space-around;
  }

  h2 {
    font-family: $main_title_font;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: $main_font_color;

    &:after {
      content: "";
      display: block;
      width: 80px;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.09);
      margin: auto;
      margin-top: 28px;
      margin-bottom: 43px;
    }
  }

  h4 {
    font-family: $main_title_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $main_font_color;
    margin-bottom: 6px;
    margin-top: 20px;
  }

  p {
    font-family: $main_paragraph_font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #212121;
    margin-top: 20px;
  }
}

.reviews {
  background: #F5F5F5;
  min-height: 511px;
  position: relative;
 .d_flex {
   text-align: center;
   align-items: center;
   justify-content: center;
   .quotes {
     margin-top: 69px;
     &:after{
       content: "";
       display: block;
       width: 2px;
       height: 215px;
       background-color: rgba(0, 0, 0, 0.04);
       margin: auto;
       margin-top: 66px;
     }
   }
   .reviewer_1, .reviewer_2 {
     h3 {
       font-family: $main_paragraph_font;
       font-style: normal;
       font-weight: 400;
       font-size: 26px;
       line-height: 33px;
       text-align: center;
       color:$main_font_color;
       margin-bottom: 24px;
       @include max-screen(428px){
         font-size: 20px;
         line-height: 30px;
       }
       @include max-screen(360px){
         font-size: 18px;
         line-height: 28px;
       }
     }
     h4 {
       font-family: $main_title_font;
       font-style: normal;
       font-weight: 400;
       font-size: 14px;
       line-height: 20px;
       text-align: center;
       text-transform: uppercase;
       color: #ABABAB;
       @include max-screen(428px){
         font-size: 12px;
       }
     }
     img {
       margin-bottom: 10px;
     }
   }
   .reviewer_1 {
     max-width: 339px;
     position: absolute;
     bottom: 98px;
     margin: auto;
     left: 276px;
     @include max-screen(1326px){
       left: 285px;
     }
     @include max-screen(1280px){
       left: 260px;
     }
     @include max-screen(1024px){
       left: 120px;
     }
     @include max-screen(834px){
       left: 25px;
     }
     @include max-screen(428px){
       max-width: 175px;
       left: 10px;
       bottom: 85px;
     }
     @include max-screen(360px){
       max-width: 165px;
       left: 7px;

     }
   }
   .reviewer_2 {
     max-width: 309px;
     position: absolute;
     right: 271px;
     bottom: 98px;
     @include max-screen(1326px){
       right: 300px;
     }
     @include max-screen(1280px){
       right: 280px;
     }
     @include max-screen(1024px){
       right: 130px;
     }
     @include max-screen(834px){
       right: 40px;

     }
     @include max-screen(428px){
       max-width: 160px;
       right: 15px;
       bottom: 85px;
     }
     @include max-screen(360px){
       max-width: 150px;
       right: 10px;
     }
   }
 }
}

footer {
  background-color: #000000;
  padding: 69px 0 75px;
  text-align: center;
}
.container_form{
  max-width: 564px;
  margin: auto;
  @include max-screen(428px){
    max-width: 315px;
  }
}
.item_form{
  box-sizing: border-box;
  border: none;
  width: 100%;
  font: 17px/22px $main_paragraph_font;
  color: #FFFFFF;
  &:focus{
    outline: none;
  }
}
.field{
  padding: 18px 0 17px 31px;
  background-color: #FFFFFF2E;
}
.field_email{
  padding: 18px 0 17px 30px;
  background-color: #FFFFFF33;
}
.field_message{
  resize: none;
  padding: 17px 0 88px 31px;
  background-color: #FFFFFF33;
}
.send_btn{
  font: 17px/22px $main_paragraph_font;
  font-style: italic;
  color: #8BCAC3;
  border:1px solid #7EC4BD;
  padding: 15px 60px;
  margin: 21px 0 0;
  background-color: #000000;
  display: inline-block;
  transition: 1s;
  @include max-screen(428px){
    padding: 12px 30px;
  }
  &:hover{
    background-color: #FFFFFF2E;
  }
}
.logo{
  margin: 37px 0 14px;
}
.paragraph{
  font: 15px/22px  $main_paragraph_font;
  color: rgba(255, 255, 255, 0.4);
}
::-webkit-input-placeholder {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;}
::-moz-placeholder          {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;}/* Firefox 19+ */
:-moz-placeholder           {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;}/* Firefox 18- */
:-ms-input-placeholder {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.desktop {
  display: none;
}

.menu__icon {
  height: 32px;
  width: 43px;
  margin: 3%;
  position: absolute;
  top: 10px;
  right: 5%;
  display: inline-block;
  vertical-align: middle;
  z-index: 20;
  @include max-screen(834px) {
    top: 15px;
  }
  @include max-screen(428px) {
    top: 25px;
    height: 25px;
    width: 35px;
  }
  @include max-screen(360px) {
    top: 29px;
  }
}
.menu__icon span {
  display: block;
  background: #333333;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  position: absolute;
  left: 0;
  top: 50%;
}

.menu__icon:before,
.menu__icon:after {
  content: "";
  display: block;
  background: #333333;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menu__icon:before {
  top: 2px;
  margin-top: -2px;
}

.menu__icon:after {
  bottom: 2px;
  margin-bottom: -2px;
}


.menu_shown .menu__icon span {
  background: transparent;
}

.menu_shown .menu__icon:before {
  top: 50%;
  transform: rotate(45deg);
}

.menu_shown .menu__icon:after {
  bottom: 50%;
  transform: rotate(-45deg);
}


.mobile.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 70px;
  background: rgba(245, 245, 245, 0.9);
  z-index: 10;
  transition: all .4s ease-in-out;
  transform: translateX(-100%);
  @include max-screen(834px){
    min-height: 30vh;
  }
}

.menu_shown .mobile.menu {
  transform: translateX(0);
}

.mobile .menu__item {
  display: block;
  line-height: 2;
  padding: 25px 0;
}

@media (min-width: map-get($viewport_size, l)) {

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
